.pics {
  background-color: rgb(29, 223, 126);
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-columns: 1fr, 1fr, 1fr;
}

.flex-Container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
